<nav class="navbar navbar-expand-lg navbar-dark bg-purple border-bottom-black">
    <div class="container">
        <a class="navbar-brand nav-title" href="#">My Phones</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item active ps-4">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item ps-4">
                    <span class="nav-link bg-light text-dark rounded-pill px-5 box-shadow bold fs-6"><b><%= locals.user ? user.split('@')[0] : 'User' %></b></span>
                </li>
                <li class="nav-item ps-4">
                    <a class="nav-link bg-dark px-4 rounded-pill" href="/route/logout">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>